* {
    margin: 0px;
    padding: 0px;
}
body {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: silver;

}
.container {
    display: flex;
    flex-wrap: wrap;
    height: 600px; 
    width: 600px;
    border: solid 20px black; 
    background-color: rgb(255, 203, 182);
    margin: 0  auto;
}

.cells {
    display: inline-block;
    background-color: white; 
    border: none;
    margin: 0px;
    padding: 0px;  
    box-sizing: content-box;
}

.cells1{
    display: inline-block;
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
    background-color: aqua;
    border: none;
}


.btnAsk {
    align-self: center;
    display: flex;
    align-items: center;
    justify-items: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    font-weight: bold;
    border-bottom: 5px solid #b46436;
    transition: 0.3s;
    background-color: #eb8b54;
    box-shadow: 3px 5px 0px 0px rgba(51, 51, 51, 1);
}
.btnAsk:hover{
    border-bottom-width: 0;
    transform: translateY(5px);
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.btnGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 70px;

}

.btnTiles {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    border-radius: 0px;
    height: 40px;
    width: 150px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.7s;
    box-shadow: 3px 3px 0px 0px rgba(51,51,51,1);
    background-color: #ffffff;
}
.btnTiles:hover {
    box-shadow: 0 0 #333;
    color: #fff;
    background-color: #333;
}