* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container {
    display: flex;
    flex-wrap: wrap;
    height: 600px; 
    width: 600px;
    border: solid 1px; 
    background-color: rgb(255, 203, 182);
    box-sizing: border-box;
    justify-content: center;
}

.cells {
   display: inline-block;
   box-sizing: content-box;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.cells1{
    display: inline-block;
    box-sizing: content-box;
    height: 30px;
    width: 30px;
    padding: 0px;
    margin: 0px;
    border: 1px solid rgb(34, 134, 25);
    background-color: aqua;

}


.container>.cells:nth-child(17n+1){
    width: 100%;
    border: 0;
    height: 0;
}