* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: silver;
    height: auto; 
    width: 400px;
    border: solid 10px; 
    
}

.cells {
    height: 25px;
    width: 25px;
    margin: auto;
    border: 0.1px solid blue;
}
.cells:hover {
    background-color: black;
    transition-duration: 0.5s all;
}

.cellshover{
    background-color: black;
}
.container>.cells:nth-child(16n+1){
    width: 100%;
    border: 0;
    height: 0;
}